body{
  margin: 5em;
}

ul{  
  padding: 0;
}

li{
  margin-right: 2em;
  margin-top: 1em;
  list-style-type: none;
}

img{
  width: 1em;
}

h1{
  border-bottom: thick solid black;
}

span{
  color: gray;
  font-style: italic;
}

nav ul{
  border-bottom: thin solid black;
}

a{
  font-weight: bold;
  text-decoration: none;
}

main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

footer{
  border-top: thick solid black;
  padding-top: 1em;
}

footer > p{
  margin: 0;
}


h1>span{
  display: block;
}

